@import "../../global.scss";

.intro {
  background-color: $secondColor;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;

  .text {
    background-color: $secondColor;
    color: $mainColor;
    border-radius: 50px;
    box-shadow: -5px -5px 5px #383838, 5px 5px 5px rgb(26, 26, 26);
    padding-top: 70px;
    padding-bottom: 70px;
    width: 400px;

    h1 {
      color: $accentColor;
    }
    h3 {
      padding-top: 20px;
    }
  }

  .link {
    height: 50px;
    .arrow {
      transform: scale(2);
      color: $accentColor;
      transition: all 0.5s ease;
    }
    .arrow:hover {
      transform: scale(3);
    }
  }
}

@media (min-width: 60em) {
  .intro .text {
    padding: 100px 50px 100px 50px;
    width: auto;
  }
}
