@import "../../global.scss";

.intro {
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;

  .text {
    background-color: $mainColor;
    padding: 100px;
    border-radius: 0px 200px 0px 200px;
    h1 {
      color: $accentColor;
    }
  }
  .link {
    height: 50px;
    .arrow {
      transform: scale(2);
      color: $accentColor;
      transition: all 0.5s ease;
    }
    .arrow:hover {
      transform: scale(3);
    }
  }
}
