@import "global.scss";

.app {
  height: 100vh;
  color: $mainColor;
  padding: 0;
  margin: 0;
  background-color: $secondColor;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: $secondColor;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
    svg {
      filter: drop-shadow(1.5px 3.5px 0.5px rgb(26, 26, 26));
    }
  }
}

html,
body {
  user-select: none;
}
